/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap'); */

#Navitem1 {
    color: rgb(7, 7, 95);
    font-family: "Roboto";
    font-size: 20px;
}

#Navitem2 {
    color: blue;
    font-family: "Roboto";
    font-size: 20px;
}

#Navitem3 {
    color: blue;
    font-family: "Roboto";
    font-size: 20px;
}

#Navitem4 {
    color: blue;
    font-family: "Roboto";
    font-size: 20px;
}

.icons {
    color: black;
    font-size: 25px;
    font-weight: 800px;
}

.contact-container{
    background-color:blue;
}

.contact-head{
    color:#ffffff;
    font-family: "Roboto";
    font-size:30px;
    text-align: center !important;
}

.form-label{
    color:#ffffff;
    border-width:3px;
    border-radius:0px;
}

.form-control,
.form-select,
.input-group-text,
.form-check-input {
  border-radius: 0% !important;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus,
.page-link:focus {
  box-shadow: none !important;
  border: 1px solid #dee2e6 !important;
}

.contact-us {
    background-color: #1A2B6D;
}

.btn-danger {
    background-color: #D41317;
}

.follow-us .follow-us-link {
    padding: 10px;
    color: #ffffff;
}